<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="SaOverlaysFONTS15.overlay"
    platformBuildVersionCode="33"
    platformBuildVersionName="13"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="SaOverlaysFONTS15"
        android:name="SaOverlaysFONTS15"
        android:hasCode="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true" />
    <overlay
        android:priority="1"
        android:targetPackage="android"
        android:isStatic="false" />
</manifest>