name: build_release_apk

on:
  push:
    branches: [ "main" ]
  
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Permission_for_gradlew
        run: chmod +x gradlew

      - name: App_version_name
        uses: chkfung/android-version-actions@v1.2.1
        with:
          gradlePath: app/build.gradle
          versionCode: ${{github.run_number}}
          versionName: "${{ env.VERSION_NAME }} test ${{github.run_number}}"

      - name: Building_apk
        run: ./gradlew assembleRelease

      - name: Uploading_file
        uses: actions/upload-artifact@v3
        with:
          name: "FontM_v${{github.run_number}}"
          path: app/build/outputs/apk/release/*.apk
          if-no-files-found: error
